DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_API_KEY=sk-37fdxxxxxxxx
DEEPSEEK_MODEL=deepseek-v4-flash

EMB_DIR=你的路径\nlp_gte_sentence-embedding_chinese-small
CROSS_DIR=你的路径\BAAI\bge-reranker-base